In [15]:
import pandas as pd
import numpy as np

In [16]:
data = pd.read_csv("C:/Users/Elif/Desktop/diamonds.csv")

In [17]:
# Yüklenen veri setini görüntüle.
data

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [18]:
# Veri setinin ilk 5 satırını görüntüle.
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [19]:
# Veri setinin son 5 satırını görüntüle.
data.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [20]:
# Veri setindeki toplam satır sayısını hesapla ve görüntüle.
len(data)

53940

In [21]:
# Veri setindeki sütun adlarını görüntüle.
data.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [22]:
# Veri setindeki sütunların veri tiplerini görüntüle.
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [23]:
# Veri setindeki sayısal sütunlar için temel istatistiksel bilgileri görüntüle (count, mean, std, min, 25%, 50%, 75%, max).
data.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [24]:
# Her hücredeki değerin boş olup olmadığını kontrol etmek için bir boolean DataFrame oluştur.
data.isnull()

       carat    cut  color  clarity  depth  table  price      x      y      z
0      False  False  False    False  False  False  False  False  False  False
1      False  False  False    False  False  False  False  False  False  False
2      False  False  False    False  False  False  False  False  False  False
3      False  False  False    False  False  False  False  False  False  False
4      False  False  False    False  False  False  False  False  False  False
...      ...    ...    ...      ...    ...    ...    ...    ...    ...    ...
53935  False  False  False    False  False  False  False  False  False  False
53936  False  False  False    False  False  False  False  False  False  False
53937  False  False  False    False  False  False  False  False  False  False
53938  False  False  False    False  False  False  False  False  False  False
53939  False  False  False    False  False  False  False  False  False  False

[53940 rows x 10 columns]

In [25]:
# Her sütundaki boş değerlerin toplam sayısını hesapla.
data.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [26]:
# Her sütundaki eksik değerlerin (NaN) toplam sayısını hesapla.
data.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64